* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* alphanumerical values */
body {
    background-color: white;
    width: 100%;
}

/* apply style to <header> */
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e49835;
    color: #04176e;
}

header h1 {
    font-size: 48px;
    color: #04176e;
}

header a {
  color: #04176e;
  text-decoration: none;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    justify-content: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  margin-left: 25px;
}

/* Hero Style Start */
.hero {
    background-image: url('../images/color coding b.jpg');
    height: 200px;
    display: flex;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h2 {
  color:white;
  display:flex;
  margin-left: 55px;
}

.hero-subtitle {
  display:flex;
  margin: 100px 80px;
}

/* About me Style Starts! */
.content {
  margin: 30px auto;
  padding: 50px;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  color: #04176e;
}
  
    
/* "Work Section Starts! */
  
.Work {
  text-align:left;
}
 
.horiseon {
  width: 20%;
}

/* applying style to About Me-Work-Footer titles */
.title {
  min-width: 300px;
}

/* "applying style to footer hyperlinks!" */
.contact-sources h5 {
  margin-right: 20%;
}

.contact-sources {
  width: 45%
}

/* applying style to About Me - Work - Footer */
.flex {
  display: flex;
  flex-wrap: wrap;
}
         
.left {
  width:25%;
}

.right {
  width:50%;
}
    
/*Adjust to small screens*/
@media screen and (max-width: 575px) {
  .hero {
    width: 100%;
  }

 
  .footer {
    width: 100%;
  }

  .content img {
    size-adjust: 50%;
    width: 90%;
  }
  
}

  
  

  
  